# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# dotenv environment variables file
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
